@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SF-Pro.ttf") format("truetype");
}

:root {
  --font-primary: "SF Pro", sans-serif;
  --cl-primary: rgba(78, 32, 121, 1);
  --cl-text: rgba(51, 51, 51, 1);
  --cl-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-primary);
  color: var(--cl-text);
  background-color: var(--cl-white);
  line-height: 24px;
}
a {
  color: var(--cl-text);
  text-decoration: none;
}
button,
input {
  outline: none;
  border: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.container {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}
/* -------------- header ---------------- */
header {
  background: var(--cl-white);
}
.header-top-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 54px;
}
.header-top-left {
  display: flex;
  align-items: center;
  min-height: inherit;
}
.header-top-left > a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 27px;
  border-right: 1px solid rgba(231, 231, 231, 1);
  color: var(--cl-primary);
  font-size: 14px;
  font-weight: 500;
  min-height: inherit;
}
.header-top-left img {
  width: 20px;
}
.header-top-left > p {
  display: flex;
  align-items: center;
  padding-left: 24px;
  gap: 5px;
}
.header-top-left > p img {
  margin-right: 5px;
}
.header-top-left > p > a {
  font-size: 14px;
  color: var(--cl-primary);
  font-weight: 500;
}
.header-top-left > p > span {
  color: var(--cl-primary);
}
.header-top-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.header-top-right > a {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  background-color: var(--cl-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.header-main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 18px 0px;
}
.header-logo {
  max-width: 145px;
  flex-shrink: 0;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 28px;
}
.header-menu > li > a {
  text-transform: uppercase;
  color: var(--cl-text);
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 15px;
  font-weight: 700;
  transition: all 0.3s ease;
}
.header-menu > li > a > span {
  width: 12px;
}
.header-menu > li > a:hover {
  color: var(--cl-primary);
}
/* ----main----- */
.hero-swiper .swiper-slide {
  user-select: none;
}
.hero-btn {
  width: 40px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cl-white);
  border: 1px solid rgba(233, 233, 233, 1);
  border-radius: 6px;
}
.hero-btn::after {
  display: none;
}
.hero-btn i {
  font-size: 20px;
  color: var(--cl-primary);
}
.hero-swiper .swiper-pagination span {
  width: 16px;
  height: 16px;
  border: 1px solid var(--cl-primary);
  background: transparent;
}
.hero-swiper .swiper-pagination span.swiper-pagination-bullet-active {
  background: var(--cl-primary);
}
/* ------befenit------- */
.befenit {
  background: linear-gradient(85.77deg, #feeada 0%, #edc4fd 100%);
  padding: 60px 0px;
}
.befenit-inner > h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  color: var(--cl-primary);
  text-transform: uppercase;
  margin-bottom: 8px;
}
.befenit-inner > p {
  font-size: 16px;
}
