@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SF-Pro.ttf") format("truetype");
}

:root {
  --font-primary: "SF Pro", sans-serif;
  --cl-primary: rgba(78, 32, 121, 1);
  --cl-text: rgba(51, 51, 51, 1);
  --cl-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-primary);
  color: var(--cl-text);
  background-color: var(--cl-white);
  line-height: 24px;
}
a {
  color: var(--cl-text);
  text-decoration: none;
}
button, input{
  outline: none;
  border: none;
}
.container{
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}
/* -------------- header ---------------- */
header {
  background: var(--cl-white);
  
}