@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SF-Pro.ttf") format("truetype");
}

:root {
  --font-primary: "SF Pro", sans-serif;
  --cl-primary: rgba(78, 32, 121, 1);
  --cl-black: #000;
  --cl-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-primary);
  color: 
}