.befenit-question *:not(::before) {
  font-family: var(--font-secondary);
}
.question-item {
  background-color: var(--cl-white);
  padding: 24px 32px;
  border-radius: 24px;
  margin-bottom: 24px;
}
.question-item h3 {
  color: #000;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 24px;
  text-align: left;
}
.question-option {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.question-option label {
  border-radius: 50px;
  min-height: 52px;
  padding: 14px 24px;
  display: flex;
  align-items: center;
  text-align: left;
  gap: 12px;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  border: 1px solid rgba(204, 204, 204, 1);
}
.question-option label.active {
  background-color: var(--cl-primary);
  color: var(--cl-white);
}
.befenit-question button {
  padding: 16px 32px;
  border-radius: 50px;
  background-color: var(--cl-primary);
  font-size: 20px;
  line-height: 28px;
  font-weight: 590;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--cl-white);
  margin: 32px auto 0px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .question-item h3 {
  }
}
